# ANÁLISE DE GRANDE VOLUME DE DADOS - MsC - IPT-PT

## PROJETO 2

### JONATAS RIBEIRO

### Estratégias de Processamento de Dados em Larga Escala

## TASK 1

Leia um chunk de dados à sua escolha. Verifique quais as variáveis que beneficiariam 
de  uma  alteração  do  tipo  de  dados.  Considere  apenas  as  seguintes  colunas:  id;  year; 
month; element; value1;...;value31. Considere o valor -9999 como um NaN value

## TASK 2 

Determine a percentagem de null values em cada uma das variáveis

## TASK 3

Determine, para cada estação, o ano mais antigo e o mais recente. Hint: recorra a um 
groupby

## TASK 4

Determine  a  temperatura  média  para  cada  observação  (estação/ano/mês).  Guarde  os 
valores  obtidos  numa  nova  coluna  denominada  daily_avg_temp.  Não  se  esqueça  de 
considerar apenas as colunas cujo nome começa por value

## TASK 5

Agrupe os dados por nome de estação e ano aplicando a função mean. Mostre apenas 
os resultados para a coluna daily_avg_temp

## TASK 6

Selecione os dados 'id', 'year', 'month', 'element', 'value1', 'value2',...,'value31' das cinco 
estações meterológicas portuguesas  (Horta;  Funchal; Lisboa; Castelo Branco e Faro) 
que existem no dataset

## TASK 7

Substitua os ids presentes no dataframe pelo correspondente nome da estação 
metereológica