# ANÁLISE DE GRANDE VOLUME DE DADOS - MsC - IPT-PT

## PROJETO 2

### JONATAS RIBEIRO

### Estratégias de Processamento de Dados em Larga Escala

## TASK 1

Leia um chunk de dados à sua escolha. Verifique quais as variáveis que beneficiariam 
de  uma  alteração  do  tipo  de  dados.  Considere  apenas  as  seguintes  colunas:  id;  year; 
month; element; value1;...;value31. Considere o valor -9999 como um NaN value

A definir os tipos de dados para as colunas específicas que serão utilizadas para a análise do dataset, em busca de otimizar o tamanho ocupado em moemória para cada chunk.


- caregory
- int16
- int8
- float32

Faz sentido avaliar um pequeno segmento do dataframe, para avaliar quais as melhores opções a nível de benefício de consumo de memória em relação ao tamanho do chunk e também de transformações de dados, antes de tratarmos de grandes quantidades de dados e desperdiçar recursos valiosos de processamento e tempo.

Portanto, seguindo o solicitado na task 1, abaixo estão as opções e os melhores cenários de escolha dentro das combinações possíveis:

In [1]:
data_types = {
    'id': 'category',
    'year': 'int16',
    'month': 'int8',
    'element': 'category',
    'value1': 'float32',
    'value2': 'float32',
    'value3': 'float32',
    'value4': 'float32',
    'value5': 'float32',
    'value6': 'float32',
    'value7': 'float32',
    'value8': 'float32',
    'value9': 'float32',
    'value10': 'float32',
    'value11': 'float32',
    'value12': 'float32',
    'value13': 'float32',
    'value14': 'float32',
    'value15': 'float32',
    'value16': 'float32',
    'value17': 'float32',
    'value18': 'float32',
    'value19': 'float32',
    'value20': 'float32',
    'value21': 'float32',
    'value22': 'float32',
    'value23': 'float32',
    'value24': 'float32',
    'value25': 'float32',
    'value26': 'float32',
    'value27': 'float32',
    'value28': 'float32',
    'value29': 'float32',
    'value30': 'float32',
    'value31': 'float32',
}

In [2]:
chosen_columns =  [
    'id', 
    'year', 
    'month', 
    'element', 
    'value1', 
    'value2', 
    'value3', 
    'value4', 
    'value5', 
    'value6', 
    'value7', 
    'value8', 
    'value9', 
    'value10', 
    'value11', 
    'value12', 
    'value13', 
    'value14', 
    'value15', 
    'value16', 
    'value17', 
    'value18', 
    'value19', 
    'value20', 
    'value21', 
    'value22', 
    'value23', 
    'value24', 
    'value25', 
    'value26', 
    'value27', 
    'value28', 
    'value29', 
    'value30', 
    'value31'
    ]

In [3]:
# datapath definition
data_path = "data/ghcnd_daily.csv"

In [4]:
chunk_size = 50000

Inicialmente, apenas a verificar o chunk sem transformação alguma, com o dataset em sua configuração original para estabelecer base de comparação.

In [5]:
# reading a single  chunks of data
import pandas as pd

chunk = pd.read_csv(data_path,chunksize=chunk_size)
print(type(chunk))

<class 'pandas.io.parsers.readers.TextFileReader'>

In [6]:
df_chunk = chunk.get_chunk(chunk_size)
df_chunk.head()
df_chunk.info(memory_usage="deep")

C:\Users\jonat\AppData\Local\Temp\ipykernel_15960\564196848.py:1: DtypeWarning: Columns (6,10,14,18,22,26,30,34,38,42,46,50,54,58,62,66,70,74,78,82,86,90,94,98,102,106,110,114,118,122,126) have mixed types. Specify dtype option on import or set low_memory=False.
  df_chunk = chunk.get_chunk(chunk_size)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Columns: 128 entries, id to sflag31
dtypes: float64(31), int64(33), object(64)
memory usage: 153.1 MB

Tendo avaliado as opções e os resultados obtidos, podemos então aplicar o conjunto escolhido para todo o dataset, conforme códigos seguintes.

In [ ]:
# reading csv file

import pandas as pd

#chunk_size definition
chunk_size=50000

#number of chunks
batch_no=1

# Modify the path to the data file

for chunk in pd.read_csv(data_path, chunksize=chunk_size, usecols=chosen_columns, dtype=data_types, na_values=-9999):
    chunk.to_csv('data/chunk'+str(batch_no)+'.csv',index=False)
    print(batch_no)
    batch_no+=1
    print(chunk.head())
    chunk.info(memory_usage="deep")

## TASK 2 

Determine a percentagem de null values em cada uma das variáveis

## TASK 3

Determine, para cada estação, o ano mais antigo e o mais recente. Hint: recorra a um 
groupby

## TASK 4

Determine  a  temperatura  média  para  cada  observação  (estação/ano/mês).  Guarde  os 
valores  obtidos  numa  nova  coluna  denominada  daily_avg_temp.  Não  se  esqueça  de 
considerar apenas as colunas cujo nome começa por value

## TASK 5

Agrupe os dados por nome de estação e ano aplicando a função mean. Mostre apenas 
os resultados para a coluna daily_avg_temp

## TASK 6

Selecione os dados 'id', 'year', 'month', 'element', 'value1', 'value2',...,'value31' das cinco 
estações meterológicas portuguesas  (Horta;  Funchal; Lisboa; Castelo Branco e Faro) 
que existem no dataset

## TASK 7

Substitua os ids presentes no dataframe pelo correspondente nome da estação 
metereológica