<div style="border: 1px solid black">
<b><center><font size="4">Big Data</font></center></b>

<b><center><font size="3">Big Data Strategies</font></center></b>

<b><center><font size="2">4 - Chunking</font></center></b>
</div>

**Notebook Developed by**: [Ricardo Campos](https://www.di.ubi.pt/~rcampos)<br>
**email:**  ricardo.campos@ubi.pt<br>
**Affiliation:** *Assistant Professor* @ [University of Beira Interior](http://www.ubi.pt);
*Researcher* @ [LIAAD](https://www.inesctec.pt/en/centres/liaad)-[INESC TEC](https://www.inesctec.pt/en)

<hr>
<p><a href="4-Chunking.ipynb" title="Download Notebook" download><img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/download.jpg" align = "left" width="50" height="50" alt="Download Notebook"></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<hr>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Load-a-Specific-Subset" data-toc-modified-id="Load-a-Specific-Subset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load a Specific Subset</a></span></li><li><span><a href="#Load-Multiple-Subsets" data-toc-modified-id="Load-Multiple-Subsets-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Load Multiple Subsets</a></span><ul class="toc-item"><li><span><a href="#Working-with-Values" data-toc-modified-id="Working-with-Values-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Working with Values</a></span><ul class="toc-item"><li><span><a href="#Unique()" data-toc-modified-id="Unique()-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Unique()</a></span></li><li><span><a href="#Mean()" data-toc-modified-id="Mean()-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Mean()</a></span></li></ul></li><li><span><a href="#Concatenating-Dataframes" data-toc-modified-id="Concatenating-Dataframes-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Concatenating Dataframes</a></span><ul class="toc-item"><li><span><a href="#Filter" data-toc-modified-id="Filter-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Filter</a></span></li><li><span><a href="#GroupBy()" data-toc-modified-id="GroupBy()-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>GroupBy()</a></span></li></ul></li><li><span><a href="#Operations-Resulting-in-a-Series" data-toc-modified-id="Operations-Resulting-in-a-Series-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Operations Resulting in a Series</a></span><ul class="toc-item"><li><span><a href="#Count-Null-Values" data-toc-modified-id="Count-Null-Values-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Count Null Values</a></span></li><li><span><a href="#Value_Counts()" data-toc-modified-id="Value_Counts()-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Value_Counts()</a></span></li><li><span><a href="#Groupby()" data-toc-modified-id="Groupby()-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>Groupby()</a></span></li></ul></li></ul></li></ul></div>

# Chunking <a class="tocSkip">

<div class="alert alert-success alertsuccess" style="margin-top: 20px">

## Objetivos de aprendizagem  <a class="tocSkip">
    
No final deste notebook o aluno deverá saber efetuar chunking como forma de processar elevados volumes de dados.


## Learning Objectives  <a class="tocSkip">
       
When concluding this notebook, the student should know how to perform chunking to handle big data files.</div>

<div class="alert alert-success alertsuccess" style="margin-top: 20px">

## Sumário  <a class="tocSkip">
### Técnicas de Compressão<a class="tocSkip">

Introdução dos alunos ao chunking de elevados volumes de dados
    
## Class Summary  <a class="tocSkip">
### Compression Techniques <a class="tocSkip">
Introducing students to the process of chunking big data files
    
</div>

Parte desta seção teve por base o seguinte artigo: https://towardsdatascience.com/loading-large-datasets-in-pandas-11bdddd36f7b

# Load a Specific Subset

Uma forma de lidar com os problemas colocados pela leitura de datasets de considerável tamanho, passa por recorrer ao chunking, um processo que divide um dataset num conjunto de sub-datasets mais pequenos.

Por outras palavras, em vez de ler todos os dados de uma vez na memória, podemos dividir em partes ou blocos menores. No caso de ficheiros CSV, isso significaria carregar apenas algumas linhas em memória num determinado momento. A função `read_csv ()` do Pandas vem com um parâmetro `chunksize` que permite definir o tamanho do chunking. No código seguinte escolhemos um chunk_size de 50.000, o que significa que vamos carregar em memória apenas as top-50.000 linhas de dados.

Our dataset is the `yellow_tripdata`  which can be found here: https://www.kaggle.com/datasets/bharath150/taxi-data?select=yellow_tripdata_2016-03.csv. Yellow taxi trip records include fields capturing pick-up and drop-off dates/times, pick-up and drop-off locations, trip distances, itemized fares, rate types, payment types, and driver-reported passenger counts. The data used in the attached datasets were collected and provided to the NYC Taxi and Limousine Commission (TLC)

In [1]:
import pandas as pd

chunk_size=50000
chunk = pd.read_csv('data\yellow_tripdata_2016-03.csv',chunksize=chunk_size)
#chunk = pd.read_csv('f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv',chunksize=chunk_size)
print(type(chunk))

<class 'pandas.io.parsers.readers.TextFileReader'>

De seguida recorremos ao `get_chunk` para ter acesso ao respetivo dataframe.

In [2]:
df_chunk = chunk.get_chunk(chunk_size)
df_chunk.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-03-01 00:00:00,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,2016-03-01 00:00:00,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2016-03-01 00:00:00,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,2016-03-01 00:00:00,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,2016-03-01 00:00:00,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80

Naturalmente a quantidade de memória usada pelo dataframe deste chunk em particular (e porque se tratam apenas de 50,000 linhas) é agora muito menor:

In [3]:
df_chunk.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               50000 non-null  int64
 1   tpep_pickup_datetime   50000 non-null  object
 2   tpep_dropoff_datetime  50000 non-null  object
 3   passenger_count        50000 non-null  int64
 4   trip_distance          50000 non-null  float64
 5   pickup_longitude       50000 non-null  float64
 6   pickup_latitude        50000 non-null  float64
 7   RatecodeID             50000 non-null  int64
 8   store_and_fwd_flag     50000 non-null  object
 9   dropoff_longitude      50000 non-null  float64
 10  dropoff_latitude       50000 non-null  float64
 11  payment_type           50000 non-null  int64
 12  fare_amount            50000 non-null  float64
 13  extra                  50000 non-null  float64
 14  mta_tax                50000 non-null  float64
 15  tip_amount             50000 non-null  float64
 16  tolls_amount           50000 non-null  float64
 17  improvement_surcharge  50000 non-null  float64
 18  total_amount           50000 non-null  float64
dtypes: float64(12), int64(4), object(3)
memory usage: 16.1 MB

A importação de um pequeno segmento do dataframe (em linha com o aprendido em notebooks anteriores, nomeadamente através do parâmetro skiprows ou do recurso a bases de dados e queries sql) possibilita a execução de um conjunto de operações e uma análise preliminar do dataframe, sem comprometer a rapidez das operações (dada a reduzida dimensão do dataset).

Podemos por exemplo beneficiar da informação anterior para tomar decisões relativamente à seleção de um conjunto restrito de colunas, ou transformação de dados (de object para datetime, através do parâmetro `parse_date`; de int64 para int16, etc, através do parâmetro `dtype`) e avaliar o seu impacto em termos de memória.

In [4]:
import pandas as pd

chunk_size=50000
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

path = "data\yellow_tripdata_2016-03.csv"
#path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

chunk = pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"})

df_chunk = chunk.get_chunk(chunk_size)
df_chunk.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               50000 non-null  int16
 1   tpep_pickup_datetime   50000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  50000 non-null  datetime64[ns]
 3   passenger_count        50000 non-null  int8
 4   trip_distance          50000 non-null  float32
 5   payment_type           50000 non-null  int8
 6   fare_amount            50000 non-null  float32
 7   tip_amount             50000 non-null  float32
 8   tolls_amount           50000 non-null  float32
 9   total_amount           50000 non-null  float32
dtypes: datetime64[ns](2), float32(5), int16(1), int8(2)
memory usage: 1.9 MB

Avaliadas as consequências destas opções poderíamos então aplicá-las a todo o dataset.

# Load Multiple Subsets

Uma outra possibilidade passa por recorrer ao chunking para dividir e guardar os chunks em múltiplos ficheiros.

<img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/BigData/chunking.jpg" width="300" height="300" align="center"/>

<center>Source: https://towardsdatascience.com/loading-large-datasets-in-pandas-11bdddd36f7b</center>

No código seguinte escolhemos um chunk_size de 50.000, o que significa que cada novo ficheiro chunk a ser gerado incluirá apenas 50.000 linhas de dados.

In [11]:
import pandas as pd

chunk_size=50000
batch_no=1

for chunk_df in pd.read_csv('data/yellow_tripdata_2016-03.csv',chunksize=chunk_size):
# for chunk_df in pd.read_csv('f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv',chunksize=chunk_size):
    # chunk_df.to_csv('f:/O meu disco/data/BigData/yellow_taxi_data/data/chunk'+str(batch_no)+'.csv',index=False)
    chunk_df.to_csv('data/chunk'+str(batch_no)+'.csv',index=False)
    print(batch_no)
    batch_no+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245

Cada chunk é na verdade um dataframe (chunk_df).

A importação de um chunk em específico faz-se depois a partir do seguinte código:

In [12]:
# path = "f:/O meu disco/data/BigData/yellow_taxi_data/data/chunk1.csv"
path = "data/chunk1.csv"
df = pd.read_csv(path)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-03-01 00:00:00,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,2016-03-01 00:00:00,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2016-03-01 00:00:00,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,2016-03-01 00:00:00,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,2016-03-01 00:00:00,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80

Naturalmente a quantidade de memória usada pelo dataframe deste chunk em particular (e porque se tratam apenas de 50,000 linhas) é agora muito menor:

In [13]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               50000 non-null  int64
 1   tpep_pickup_datetime   50000 non-null  object
 2   tpep_dropoff_datetime  50000 non-null  object
 3   passenger_count        50000 non-null  int64
 4   trip_distance          50000 non-null  float64
 5   pickup_longitude       50000 non-null  float64
 6   pickup_latitude        50000 non-null  float64
 7   RatecodeID             50000 non-null  int64
 8   store_and_fwd_flag     50000 non-null  object
 9   dropoff_longitude      50000 non-null  float64
 10  dropoff_latitude       50000 non-null  float64
 11  payment_type           50000 non-null  int64
 12  fare_amount            50000 non-null  float64
 13  extra                  50000 non-null  float64
 14  mta_tax                50000 non-null  float64
 15  tip_amount             50000 non-null  float64
 16  tolls_amount           50000 non-null  float64
 17  improvement_surcharge  50000 non-null  float64
 18  total_amount           50000 non-null  float64
dtypes: float64(12), int64(4), object(3)
memory usage: 16.1 MB

A divisão do dataset em múltiplos datasets permitiria agora não só a sua exploração sob o ponto de vista de uma análise preliminar (a partir do load de um dataset em específico), mas também a execução de uma série de operações nos vários datasets. Tal procedimento não obriga no entanto a guardar dos vários subsets. De facto podemos proceder à divisão do mesmos por intermédio do chunking, efetuar as necessárias operações, e reunir os resultados num único dataset.

A figura seguinte exemplifica este processo.

<img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/BigData/chunking1.jpg" width="800" height="800" align="center"/>

<center>https://www.aiplusinfo.com/blog/pandas-and-large-dataframes-how-to-read-in-chunks/</center>

## Working with Values

### Unique()

No exemplo seguinte enviamos para uma lista o número total de `passenger_count` (i.e., de passageiros transportados nas viagens) em cada chunk.

In [15]:
import pandas as pd

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

ListOfResults = []

path = "data/yellow_tripdata_2016-03.csv"
# path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    chunk_result = chunk_df['passenger_count'].unique()
    ListOfResults.extend(chunk_result)
        
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

Posteriormente convertemos a lista para um set.

In [16]:
set(ListOfResults)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

### Mean()

No exemplo seguinte determinamos a média do campo `fare_amount` para cada chunk, adicionando-a respetivamente a cada posição da lista de resultados.

In [21]:
df_chunk["fare_amount"].mean()

12.582056

In [17]:
import pandas as pd

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

ListOfResults = []

path = "data/yellow_tripdata_2016-03.csv"
# path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    chunk_result = chunk_df['fare_amount'].mean()
    ListOfResults.append(chunk_result)
        
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

`ListOfResults` é assim uma lista com todas as médias.

In [22]:
ListOfResults

[12.643791,
 12.337623,
 12.632169,
 12.307339,
 12.246566,
 13.048718,
 12.895504,
 12.843733,
 12.817127,
 12.90739,
 13.406391,
 13.040576,
 12.280393,
 13.194853,
 12.762296,
 12.910908,
 12.741346,
 13.678961,
 12.665683,
 12.869327,
 12.121111,
 12.94458,
 12.609477,
 12.998912,
 13.2148905]

Para termos acesso à média deveremos proceder ao seguinte cálculo.

In [20]:
sum(ListOfResults)/len(ListOfResults)

12.804786491394044

## Concatenating Dataframes

### Filter

Primeiro, vamos começar por exemplificar este processo com recurso a operações de filtro, as quais têm por objetivo selecionar apenas umas quantas observações.

O código seguinte (**uma solução melhor que esta encontra-se mais abaixo nesta seção**) permite dividir o dataset em parcelas de `500,000` linhas e em cada uma dessas parcelas aplicar um filtro que seleciona apenas os registos onde `passenger_count = 4`. O conjunto desses registos é concatenado ao dataframe anterior a cada nova iteração.

In [23]:
import pandas as pd

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

df = pd.DataFrame(columns = column_names) #define the df with the header

path = "data/yellow_tripdata_2016-03.csv"
#path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    chunk_result = chunk_df[chunk_df['passenger_count']==4]

    df = pd.concat([df, chunk_result])
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

C:\Users\jonat\AppData\Local\Temp\ipykernel_17484\1714829958.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, chunk_result])

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

In [24]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,payment_type,fare_amount,tip_amount,tolls_amount,total_amount
31,2,2016-03-01 00:00:08,2016-03-01 00:16:31,4,4.260000,2,16.0,0.00,0.00,17.299999
78,2,2016-03-01 00:00:27,2016-03-01 00:07:37,4,1.040000,1,6.5,1.56,0.00,9.360000
136,1,2016-03-01 00:00:49,2016-03-01 00:13:29,4,2.500000,1,11.0,3.07,0.00,15.370000
164,2,2016-03-01 00:01:03,2016-03-01 00:07:10,4,1.650000,1,7.0,1.66,0.00,9.960000
233,2,2016-03-10 07:07:40,2016-03-10 07:13:55,4,2.050000,1,7.5,1.66,0.00,9.960000
...,...,...,...,...,...,...,...,...,...,...
12210793,2,2016-03-31 23:59:30,2016-04-01 00:21:53,4,5.680000,2,20.0,0.00,0.00,21.299999
12210885,2,2016-03-31 23:59:49,2016-04-01 00:27:36,4,10.340000,1,31.0,6.46,0.00,38.759998
12210936,1,2016-03-29 16:46:55,2016-03-29 16:49:21,4,0.400000,2,52.0,0.00,5.54,62.840000
12210942,1,2016-03-30 13:41:39,2016-03-30 15:04:46,4,17.799999,2,52.0,0.00,5.54,58.340000
12210944,1,2016-03-31 21:43:11,2016-03-31 22:29:27,4,18.900000,2,57.5,0.00,0.00,58.799999

que ocupa apenas 32.5MB de memória RAM ao invés dos iniciais 3.8GB (que o dataset ocupa quando carregado na totalidade em memória).

In [25]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 239827 entries, 31 to 12210944
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               239827 non-null  object
 1   tpep_pickup_datetime   239827 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  239827 non-null  datetime64[ns]
 3   passenger_count        239827 non-null  object
 4   trip_distance          239827 non-null  float32
 5   payment_type           239827 non-null  object
 6   fare_amount            239827 non-null  float32
 7   tip_amount             239827 non-null  float32
 8   tolls_amount           239827 non-null  float32
 9   total_amount           239827 non-null  float32
dtypes: datetime64[ns](2), float32(5), object(3)
memory usage: 34.8 MB

However, it is better to append the aggregated data to a list, and then build the DataFrame from the list with one call to pd.concat which is a O(N) operation (where N is the size of the chunks). That is, it is better to concat once with a list of many dataframes `pd.concat([list_of_dfs])` instead of doing something like `df = pd.concat([df, chunk])` many times in a for loop.

To cope with this, we define a `result_temp` list which will get all the chunk dataframes `chunk_df`.

In [26]:
import pandas as pd

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

result_temp = []

path = "data/yellow_tripdata_2016-03.csv"
#path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    chunk_result = chunk_df[chunk_df['passenger_count']==4]

    result_temp.append(chunk_result)
    
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

df = pd.concat(result_temp)
df

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,payment_type,fare_amount,tip_amount,tolls_amount,total_amount
31,2,2016-03-01 00:00:08,2016-03-01 00:16:31,4,4.260000,2,16.0,0.00,0.00,17.299999
78,2,2016-03-01 00:00:27,2016-03-01 00:07:37,4,1.040000,1,6.5,1.56,0.00,9.360000
136,1,2016-03-01 00:00:49,2016-03-01 00:13:29,4,2.500000,1,11.0,3.07,0.00,15.370000
164,2,2016-03-01 00:01:03,2016-03-01 00:07:10,4,1.650000,1,7.0,1.66,0.00,9.960000
233,2,2016-03-10 07:07:40,2016-03-10 07:13:55,4,2.050000,1,7.5,1.66,0.00,9.960000
...,...,...,...,...,...,...,...,...,...,...
12210793,2,2016-03-31 23:59:30,2016-04-01 00:21:53,4,5.680000,2,20.0,0.00,0.00,21.299999
12210885,2,2016-03-31 23:59:49,2016-04-01 00:27:36,4,10.340000,1,31.0,6.46,0.00,38.759998
12210936,1,2016-03-29 16:46:55,2016-03-29 16:49:21,4,0.400000,2,52.0,0.00,5.54,62.840000
12210942,1,2016-03-30 13:41:39,2016-03-30 15:04:46,4,17.799999,2,52.0,0.00,5.54,58.340000
12210944,1,2016-03-31 21:43:11,2016-03-31 22:29:27,4,18.900000,2,57.5,0.00,0.00,58.799999

This is likely not only quicker, but also occupies less memory, only `11MB`

In [27]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 239827 entries, 31 to 12210944
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               239827 non-null  int16
 1   tpep_pickup_datetime   239827 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  239827 non-null  datetime64[ns]
 3   passenger_count        239827 non-null  int8
 4   trip_distance          239827 non-null  float32
 5   payment_type           239827 non-null  int8
 6   fare_amount            239827 non-null  float32
 7   tip_amount             239827 non-null  float32
 8   tolls_amount           239827 non-null  float32
 9   total_amount           239827 non-null  float32
dtypes: datetime64[ns](2), float32(5), int16(1), int8(2)
memory usage: 11.0 MB

Um outro exemplo prende-se com a lista de todas as observações NaN.

In [28]:
import pandas as pd

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

result_temp = []

path = "data/yellow_tripdata_2016-03.csv"
#path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    chunk_result = chunk_df[chunk_df.isnull().any(axis=1)]

    result_temp.append(chunk_result)
    
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

df = pd.concat(result_temp)
df

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, payment_type, fare_amount, tip_amount, tolls_amount, total_amount]
Index: []

### GroupBy()

As operações de groupby quando restritas a mais do que uma coluna devolvem o resultado num dataframe.

In [29]:
import pandas as pd

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

result_temp = []

path = "data/yellow_tripdata_2016-03.csv"
#path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    chunk_result = chunk_df.groupby('VendorID').mean()[['trip_distance','fare_amount','tip_amount','tolls_amount','total_amount']]

    result_temp.append(chunk_result)
    
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

df = pd.concat(result_temp)

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

Como podemos observar abaixo, temos agora um conjunto de groupbys para cada chunk.

In [30]:
df

          trip_distance  fare_amount  tip_amount  tolls_amount  total_amount
VendorID
1             29.395535    12.321449    1.788088      0.293510     15.597042
2              2.921303    12.838291    1.876879      0.341641     16.158247
1              2.676330    12.170998    1.799639      0.277599     15.375791
2              2.802897    12.479285    1.868774      0.303754     15.813581
1              2.756580    12.519168    1.832608      0.300477     15.800862
2              2.862911    12.730000    1.882542      0.320997     16.102346
1              2.806111    12.217259    1.693334      0.245700     15.341509
2              2.870971    12.385400    1.732976      0.259027     15.578025
1              2.799309    12.110503    1.597721      0.223734     14.953568
2              2.905119    12.359179    1.662298      0.245710     15.324739
1              3.244994    13.124643    1.853899      0.384581     16.446419
2              3.123266    13.037733    1.858980      0.323531     16.370035
1              3.152014    12.700207    1.849901      0.327427     15.902591
2              3.135735    12.919114    1.757677      0.317230     15.972290
1              2.531933    12.269436    1.708807      0.281047     15.057683
2              2.945799    12.855990    1.891595      0.358212     16.295074
1             14.975181    12.552181    1.710649      0.366381     15.613980
2              3.007746    12.989585    1.853293      0.371593     16.303904
1              6.235002    12.769554    1.855600      0.325328     16.245964
2              2.942349    13.028803    1.927502      0.347754     16.613104
1              4.407313    13.278633    1.929356      0.337651     16.765541
2              3.162585    13.517856    1.981485      0.353079     17.072683
1              2.954083    12.956741    1.801036      0.299385     16.260696
2              3.041197    13.115983    1.833238      0.309704     16.468678
1              4.161613    12.198803    1.601393      0.235485     15.040366
2              2.934990    12.352533    1.623512      0.245195     15.208194
1              6.426266    13.603872    1.730418      0.366990     16.727602
2              3.144284    12.831040    1.801288      0.399269     16.044466
1              2.846411    12.593754    1.769177      0.339073     15.958479
2              3.000887    12.910982    1.843805      0.366249     16.397614
1              2.921319    12.783735    1.850048      0.293639     16.171896
2              3.038696    13.022623    1.908270      0.316655     16.496910
1             52.331852    12.654902    1.785889      0.340351     15.876081
2              2.939575    13.047328    1.812695      0.354567     16.140940
1              2.931685    13.695339    1.888933      0.325784     17.091923
2              2.905485    12.825491    1.887194      0.337151     16.464405
1              3.470058    12.600686    1.690859      0.275816     15.665549
2              3.234261    14.885476    2.046081      0.574831     18.865957
1              3.097044    12.835858    1.779412      0.300000     16.188978
2              3.113313    12.904242    1.806452      0.287527     16.304647
1             41.560074    12.060934    1.467850      0.200935     14.746906
2              2.935695    12.173380    1.488147      0.210860     14.870617
1              4.331007    12.717742    1.658917      0.377752     15.831400
2              3.228000    13.144399    1.763345      0.414917     16.394499
1              4.145880    12.476356    1.775733      0.307031     15.733659
2              3.049400    12.726954    1.831512      0.330712     16.070793
1              2.909785    12.890533    1.817403      0.313974     16.128195
2              2.915018    13.094385    1.874219      0.337107     16.412281
1              2.941266    13.073690    1.914098      0.322338     16.771259
2              3.069315    13.340336    1.968144      0.334315     17.109434

Para apurar o resultado final basta fazer novamente um groupby (similar ao anterior) em cima do dataframe apurado.

In [31]:
df.groupby('VendorID').mean()[['trip_distance','fare_amount','tip_amount','tolls_amount','total_amount']]

          trip_distance  fare_amount  tip_amount  tolls_amount  total_amount
VendorID
1              8.480346    12.687078    1.766031      0.306480     15.891758
2              3.009232    12.940656    1.831276      0.334463     16.274137

## Operations Resulting in a Series

Para as operações de agregação recorre-se também a estruturas de dados que vão acumulando os valores agregados de cada chunk.

### Count Null Values

No exemplo seguinte determinamos a percentagem de null values para cada uma das variáveis. Este é um processo um pouco mais trabalhoso dado que os valores obtidos de cada `chunk_df` vêem numa estrutura de pandas series. De qualquer das formas e uma vez que a estrutura se mantém em cada chunk (ou seja, é sempre o mesmo número de variáveis) podemos acumular os vários valores das series de cada dataframe na variável `ListOfValues`.

In [32]:
import numpy as np
ListOfValues = np.zeros(len(column_names))
ListOfValues

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [33]:
import pandas as pd
import numpy as np

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

shape = 0
ListOfValues = np.zeros(len(column_names))

path = "data/yellow_tripdata_2016-03.csv"
#path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    shape+= chunk_df.shape[0]
    
    chunk_result = chunk_df.isna().sum()
    ListOfIndexes = chunk_result.index
    ListOfValues += chunk_result.values
        
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

Posteriormente mostramos os resultados numa series final composta pelos índices e pelos valores acumulados.

In [34]:
series = pd.Series(ListOfValues,index=ListOfIndexes)
series/shape* 100

VendorID                 0.0
tpep_pickup_datetime     0.0
tpep_dropoff_datetime    0.0
passenger_count          0.0
trip_distance            0.0
payment_type             0.0
fare_amount              0.0
tip_amount               0.0
tolls_amount             0.0
total_amount             0.0
dtype: float64

### Value_Counts()

No exemplo seguinte determinamos os `value_counts` do `VendorID`. Neste caso concreto, a estrutura que se obtém a partir de cada chunk (uma série de dados) pode naturalmente incluir valores distintos. Assim, para acumular os valores de cada chunk recorremos a um dicionário.

In [35]:
df_chunk['passenger_count'].value_counts()

passenger_count
1    31392
2     7060
5     4947
6     3441
3     2148
4     1011
0        1
Name: count, dtype: int64

In [36]:
import pandas as pd

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

dict_temp = {}

path = "data/yellow_tripdata_2016-03.csv"
#path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    # chunk_result = chunk_df['VendorID'].value_counts()
    chunk_result = chunk_df['passenger_count'].value_counts()
    ListOfIndexes = chunk_result.index
    ListOfValues = chunk_result.values
    
    for i in range(len(ListOfIndexes)):
        dict_temp[ListOfIndexes[i]] = dict_temp.get(ListOfIndexes[i],0) + ListOfValues[i]
        
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

In [37]:
dict_temp

{2: 6479710, 1: 5731242}

Posteriormente poderíamos enviar estes dados para um dataframe.

In [38]:
valuecounts_dict_df = pd.DataFrame([dict_temp]).T  # Let's tranpose it from row to column vector
valuecounts_dict_df = valuecounts_dict_df.reset_index()  # Let's reset the index from the rating keys back to default
valuecounts_dict_df.columns=['valuecounts_Keys','Count']
valuecounts_dict_df

   valuecounts_Keys    Count
0                 2  6479710
1                 1  5731242

Uma alternativa passar por obter a série de dados em cada chunk, transformá-los num dataframe, enviá-los para uma lista e no final de todos os chunks concatenar a lista de dataframes.

In [39]:
import pandas as pd

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

result_temp = []

path = "data/yellow_tripdata_2016-03.csv"
#path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    chunk_result = chunk_df['VendorID'].value_counts()
    
    df = pd.DataFrame([chunk_result]).T  # Let's tranpose it from row to column vector
    df = df.reset_index()  # Let's reset the index from the rating keys back to default
    df.columns=['VendorID','Counts']

    result_temp.append(df)
           
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

df = pd.concat(result_temp)

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

De seguida podemos ver o dataframe concatenado. Naturalmente teremos ainda que fazer um groupby (ver abaixo) para agrupar os valores:

In [41]:
df

   VendorID  Counts
0         2  311839
1         1  188161
0         2  270247
1         1  229753
0         2  267985
1         1  232015
0         2  267870
1         1  232130
0         2  273568
1         1  226432
0         2  436796
1         1   63204
0         2  446069
1         1   53931
0         2  489553
1         1   10447
0         2  302865
1         1  197135
0         2  265834
1         1  234166
0         2  267018
1         1  232982
0         2  263231
1         1  236769
0         2  265356
1         1  234644
0         2  264624
1         1  235376
0         2  265649
1         1  234351
0         2  266175
1         1  233825
0         1  389862
1         2  110138
0         1  490584
1         2    9416
0         1  485776
1         2   14224
0         1  255315
1         2  244685
0         2  267593
1         1  232407
0         2  265832
1         1  234168
0         2  265611
1         1  234389
0         2  265825
1         1  234175
0         2  111707
1         1   99245

O código seguinte executa o groupby procedendo à soma dos valores:

In [40]:
df.groupby(['VendorID'])['Counts'].sum()

VendorID
1    5731242
2    6479710
Name: Counts, dtype: int64

### Groupby()

No próximo exemplo pretendemos determinar a média do `trip_distance` por `VendorID`, razão pela qual vamos proceder a um `groupby`. O código abaixo mantém-se igual ao anterior, exceção feita à substituição do código de `value_counts` pelo código do `group_by`. De facto, o sistema continuará a gerar um pandas series. Só que ao invés do value_counts onde contabilizava valores, no caso da operação abaixo proceda à soma de valores médios, razão pela qual, posteriormente ainda vamos ter que dividir esses valores pelo número total de chunks.

In [42]:
import pandas as pd

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

dict_temp = {}

path = "data/yellow_tripdata_2016-03.csv"
#path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    chunk_result = chunk_df.groupby('VendorID').mean()['trip_distance']
    ListOfIndexes = chunk_result.index
    ListOfValues = chunk_result.values
    
    for i in range(len(ListOfIndexes)):
        dict_temp[ListOfIndexes[i]] = dict_temp.get(ListOfIndexes[i],0) + ListOfValues[i]
        
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

In [ ]:
dict_temp

Como referido anteriormente, para apurarmos a média teremos ainda que dividir a soma dos valores operados pelo número de chunks.

In [43]:
for key in dict_temp:
    dict_temp[key] = dict_temp[key]/chunk_no

dict_temp

{1: 8.48034571647644, 2: 3.0092320346832278}

Em alternativa podemos obter a série de dados em cada chunk, transformá-los num dataframe, enviá-los para uma lista e no final de todos os chunks concatenar a lista de dataframes.

In [44]:
import pandas as pd

chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

result_temp = []

path = "data/yellow_tripdata_2016-03.csv"
#path = "f:\O meu disco\data\BigData\yellow_taxi_data\yellow_tripdata_2016-03.csv"

for chunk_df in pd.read_csv(path,chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    chunk_result = chunk_df.groupby('VendorID').mean()['trip_distance']
    
    df = pd.DataFrame([chunk_result]).T  # Let's tranpose it from row to column vector
    df = df.reset_index()  # Let's reset the index from the rating keys back to default
    df.columns=['VendorID','trip_distance']

    result_temp.append(df)
           
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

df = pd.concat(result_temp)

chunk number = 0
chunk number = 1
chunk number = 2
chunk number = 3
chunk number = 4
chunk number = 5
chunk number = 6
chunk number = 7
chunk number = 8
chunk number = 9
chunk number = 10
chunk number = 11
chunk number = 12
chunk number = 13
chunk number = 14
chunk number = 15
chunk number = 16
chunk number = 17
chunk number = 18
chunk number = 19
chunk number = 20
chunk number = 21
chunk number = 22
chunk number = 23
chunk number = 24

De seguida podemos ver o dataframe concatenado. Naturalmente teremos ainda que fazer um groupby (ver abaixo) para agrupar os valores:

In [45]:
df

   VendorID  trip_distance
0         1      29.395535
1         2       2.921303
0         1       2.676330
1         2       2.802897
0         1       2.756580
1         2       2.862911
0         1       2.806111
1         2       2.870971
0         1       2.799309
1         2       2.905119
0         1       3.244994
1         2       3.123266
0         1       3.152014
1         2       3.135735
0         1       2.531933
1         2       2.945799
0         1      14.975181
1         2       3.007746
0         1       6.235002
1         2       2.942349
0         1       4.407313
1         2       3.162585
0         1       2.954083
1         2       3.041197
0         1       4.161613
1         2       2.934990
0         1       6.426266
1         2       3.144284
0         1       2.846411
1         2       3.000887
0         1       2.921319
1         2       3.038696
0         1      52.331852
1         2       2.939575
0         1       2.931685
1         2       2.905485
0         1       3.470058
1         2       3.234261
0         1       3.097044
1         2       3.113313
0         1      41.560074
1         2       2.935695
0         1       4.331007
1         2       3.228000
0         1       4.145880
1         2       3.049400
0         1       2.909785
1         2       2.915018
0         1       2.941266
1         2       3.069315

O código seguinte executa o groupby:

In [46]:
df.groupby('VendorID').mean()['trip_distance']

VendorID
1    8.480346
2    3.009232
Name: trip_distance, dtype: float32