<div style="border: 1px solid black">
<b><center><font size="4">Big Data</font></center></b>

<b><center><font size="3">Spark</font></center></b>

<b><center><font size="2">3 - Dataframes</font></center></b>
</div>

**Notebook Developed by**: [Ricardo Campos](https://www.di.ubi.pt/~rcampos)<br>
**email:**  ricardo.campos@ubi.pt<br>
**Affiliation:** *Assistant Professor* @ [University of Beira Interior](http://www.ubi.pt);
*Researcher* @ [LIAAD](https://www.inesctec.pt/en/centres/liaad)-[INESC TEC](https://www.inesctec.pt/en)

<hr>
<p><a href="3-Dataframes.ipynb" title="Download Notebook" download><img src="https://www.di.ubi.pt/~rcampos/assets/img_tutorials/download.jpg" align = "left" width="50" height="50" alt="Download Notebook"></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<hr>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Instructions" data-toc-modified-id="Instructions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Instructions</a></span><ul class="toc-item"><li><span><a href="#Windows" data-toc-modified-id="Windows-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Windows</a></span></li><li><span><a href="#Google-Colab" data-toc-modified-id="Google-Colab-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Google Colab</a></span></li></ul></li><li><span><a href="#Setup-the-SparkSession" data-toc-modified-id="Setup-the-SparkSession-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Setup the SparkSession</a></span></li><li><span><a href="#Create-DataFrame" data-toc-modified-id="Create-DataFrame-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create DataFrame</a></span><ul class="toc-item"><li><span><a href="#From-Files" data-toc-modified-id="From-Files-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>From Files</a></span><ul class="toc-item"><li><span><a href="#CSV" data-toc-modified-id="CSV-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>CSV</a></span></li><li><span><a href="#JSON" data-toc-modified-id="JSON-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>JSON</a></span></li><li><span><a href="#TextFile" data-toc-modified-id="TextFile-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>TextFile</a></span></li></ul></li><li><span><a href="#From-RDDs" data-toc-modified-id="From-RDDs-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>From RDDs</a></span></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Pandas</a></span></li><li><span><a href="#Schema" data-toc-modified-id="Schema-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Schema</a></span></li></ul></li><li><span><a href="#USStockPrices" data-toc-modified-id="USStockPrices-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>USStockPrices</a></span><ul class="toc-item"><li><span><a href="#Inspect-Methods" data-toc-modified-id="Inspect-Methods-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Inspect Methods</a></span><ul class="toc-item"><li><span><a href="#PrintSchema" data-toc-modified-id="PrintSchema-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>PrintSchema</a></span></li><li><span><a href="#dtypes" data-toc-modified-id="dtypes-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>dtypes</a></span></li><li><span><a href="#columns" data-toc-modified-id="columns-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span>columns</a></span></li><li><span><a href="#Count" data-toc-modified-id="Count-4.1.4"><span class="toc-item-num">4.1.4&nbsp;&nbsp;</span>Count</a></span></li><li><span><a href="#stats:-describe" data-toc-modified-id="stats:-describe-4.1.5"><span class="toc-item-num">4.1.5&nbsp;&nbsp;</span>stats: describe</a></span></li><li><span><a href="#Take" data-toc-modified-id="Take-4.1.6"><span class="toc-item-num">4.1.6&nbsp;&nbsp;</span>Take</a></span></li><li><span><a href="#Show" data-toc-modified-id="Show-4.1.7"><span class="toc-item-num">4.1.7&nbsp;&nbsp;</span>Show</a></span></li><li><span><a href="#First" data-toc-modified-id="First-4.1.8"><span class="toc-item-num">4.1.8&nbsp;&nbsp;</span>First</a></span></li><li><span><a href="#Distinct" data-toc-modified-id="Distinct-4.1.9"><span class="toc-item-num">4.1.9&nbsp;&nbsp;</span>Distinct</a></span></li></ul></li><li><span><a href="#Operation-Methods" data-toc-modified-id="Operation-Methods-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Operation Methods</a></span><ul class="toc-item"><li><span><a href="#Columns-Manipulation" data-toc-modified-id="Columns-Manipulation-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Columns Manipulation</a></span><ul class="toc-item"><li><span><a href="#Add-Column" data-toc-modified-id="Add-Column-4.2.1.1"><span class="toc-item-num">4.2.1.1&nbsp;&nbsp;</span>Add Column</a></span></li><li><span><a href="#Update-Column" data-toc-modified-id="Update-Column-4.2.1.2"><span class="toc-item-num">4.2.1.2&nbsp;&nbsp;</span>Update Column</a></span></li><li><span><a href="#Delete-Column" data-toc-modified-id="Delete-Column-4.2.1.3"><span class="toc-item-num">4.2.1.3&nbsp;&nbsp;</span>Delete Column</a></span></li></ul></li><li><span><a href="#Querying-Data" data-toc-modified-id="Querying-Data-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span>Querying Data</a></span><ul class="toc-item"><li><span><a href="#Select" data-toc-modified-id="Select-4.2.2.1"><span class="toc-item-num">4.2.2.1&nbsp;&nbsp;</span>Select</a></span></li><li><span><a href="#Filter" data-toc-modified-id="Filter-4.2.2.2"><span class="toc-item-num">4.2.2.2&nbsp;&nbsp;</span>Filter</a></span></li><li><span><a href="#GroupBy" data-toc-modified-id="GroupBy-4.2.2.3"><span class="toc-item-num">4.2.2.3&nbsp;&nbsp;</span>GroupBy</a></span></li></ul></li><li><span><a href="#OrderBy" data-toc-modified-id="OrderBy-4.2.3"><span class="toc-item-num">4.2.3&nbsp;&nbsp;</span>OrderBy</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-4.2.4"><span class="toc-item-num">4.2.4&nbsp;&nbsp;</span>Functions</a></span></li></ul></li><li><span><a href="#Save-Data-to-File" data-toc-modified-id="Save-Data-to-File-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Save Data to File</a></span></li><li><span><a href="#Spark-SQL" data-toc-modified-id="Spark-SQL-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Spark SQL</a></span></li></ul></li><li><span><a href="#Twitter-(Quiz)" data-toc-modified-id="Twitter-(Quiz)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Twitter (Quiz)</a></span><ul class="toc-item"><li><span><a href="#Load-Dataset" data-toc-modified-id="Load-Dataset-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Load Dataset</a></span></li><li><span><a href="#Determine-the-total-number-of-tweets" data-toc-modified-id="Determine-the-total-number-of-tweets-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Determine the total number of tweets</a></span></li><li><span><a href="#Print-the-Schema" data-toc-modified-id="Print-the-Schema-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Print the Schema</a></span></li><li><span><a href="#List-the-Columns-of-the-Dataset" data-toc-modified-id="List-the-Columns-of-the-Dataset-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>List the Columns of the Dataset</a></span></li><li><span><a href="#Create-New-Dataframe" data-toc-modified-id="Create-New-Dataframe-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Create New Dataframe</a></span></li><li><span><a href="#Total-Number-of-Users" data-toc-modified-id="Total-Number-of-Users-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>Total Number of Users</a></span></li><li><span><a href="#Top-10-users-who-post-the-most" data-toc-modified-id="Top-10-users-who-post-the-most-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>Top-10 users who post the most</a></span></li><li><span><a href="#Users-with-the-largest-Tweets" data-toc-modified-id="Users-with-the-largest-Tweets-5.8"><span class="toc-item-num">5.8&nbsp;&nbsp;</span>Users with the largest Tweets</a></span></li><li><span><a href="#Name-of-User-with-the-largest-Tweet" data-toc-modified-id="Name-of-User-with-the-largest-Tweet-5.9"><span class="toc-item-num">5.9&nbsp;&nbsp;</span>Name of User with the largest Tweet</a></span></li><li><span><a href="#Tweets'-origin" data-toc-modified-id="Tweets'-origin-5.10"><span class="toc-item-num">5.10&nbsp;&nbsp;</span>Tweets' origin</a></span></li><li><span><a href="#About-time" data-toc-modified-id="About-time-5.11"><span class="toc-item-num">5.11&nbsp;&nbsp;</span>About time</a></span></li><li><span><a href="#Most-popular-mentioned-users" data-toc-modified-id="Most-popular-mentioned-users-5.12"><span class="toc-item-num">5.12&nbsp;&nbsp;</span>Most popular mentioned users</a></span></li><li><span><a href="#Most-popular-hashtags" data-toc-modified-id="Most-popular-hashtags-5.13"><span class="toc-item-num">5.13&nbsp;&nbsp;</span>Most popular hashtags</a></span></li><li><span><a href="#Presence-of-the-candidates-in-the-Tweets" data-toc-modified-id="Presence-of-the-candidates-in-the-Tweets-5.14"><span class="toc-item-num">5.14&nbsp;&nbsp;</span>Presence of the candidates in the Tweets</a></span></li></ul></li></ul></div>

# Spark Dataframes

<div class="alert alert-success alertsuccess" style="margin-top: 20px">

## Objetivos de aprendizagem  <a class="tocSkip">
    
No final deste notebook o aluno deverá saber usar Spark em dataframes.


## Learning Objectives  <a class="tocSkip">
       
When concluding this notebook, the student should know how to use Spark to process dataframes.</div>

<div class="alert alert-success alertsuccess" style="margin-top: 20px">

## Sumário  <a class="tocSkip">
### Introdução a Spark dataframes<a class="tocSkip">

Introdução dos alunos a Spark dataframes
   
## Class Summary  <a class="tocSkip">
### Introduction to Spark dataframes <a class="tocSkip">
Introducing students to Spark dataframes

</div>

In [ ]:
from IPython.display import IFrame
IFrame("https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PySpark_SQL_Cheat_Sheet_Python.pdf", width=800, height=600)

This notebook was partially based on this article:https://towardsdatascience.com/beginners-guide-to-pyspark-bbe3b553b79f

## Instructions

Se ainda  não o fez, comece por fazer download da pasta [data](https://www.di.ubi.pt/~rcampos/assets/files_tutorials/BigData/data.zip). De seguida extraia o conteúdo dessa pasta para uma pasta com o nome `data`.

Adicionalmente faremos uso de dois outros ficheiros:
- o ficheiro `stocks_price_final.csv` disponibilizado na página do kaggle: [USStockPrices](https://www.kaggle.com/datasets/dinnymathew/usstockprices), which gathers  NASDAQ and NYSE stocks with their market cap, sectors, etc from Jan 2019 to July 2020. Assim, proceda ao download do ficheiro e coloque-o dentro da pasta `data\USStockPrices` que deverá criar no seu computador.
- o ficheiro `cache-0-json.gz` disponibilizado na página do Internet Archive: [twitter](https://web.archive.org/web/20180417213757/https://ckannet-storage.commondatastorage.googleapis.com/2015-07-09T02:10:43.036Z/cache-0-json.gz) é um sub-set composto por 1M de tweets (de um total de 170M) coletados durante a campanha para as eleições dos EUA em 2012. O ficheiro ocupa 400MB comprimido e 3GB quando descomprimido. Assim, proceda ao download do ficheiro e coloque-o dentro da pasta `data\twitter` que deverá criar no seu computador.

### Windows

A execução deste notebook pressupõe a existência da pasta `data`  (e dos seus conteúdos) junto do seu notebook. Necessita também de ter o docker e o pyspark a funcionar de acordo com o explicado no notebook `1 - Introduction`.

### Google Colab

Se ainda não o fez, entre agora no [Google Drive](https://drive.google.com/drive/my-drive) e crie a pasta `\Colab Notebooks\data\BigData\`. De seguida, copie os conteúdos da pasta `data` existentes no seu pc para dentro da pasta `\Colab Notebooks\data\BigData\`.

No Google Colab, execute o seguinte comando:

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

To run pyspark on a local machine we need Java and other software. So instead of the heavy installation procedure, we use Google Colaboratory:

In [ ]:
!pip install pyspark

## Setup the SparkSession

DataFrames can be created by a SparkSession object. The SparkSession does for DataFrames what the SparkContext does for RDDs: gives us an entry point to all of the functionality.

In [ ]:
#import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").config("spark.driver.cores", 1).appName("test").getOrCreate()

## Create DataFrame

### From Files

#### CSV

Em Spark, um DataFrame é uma coleção distribuída de dados, organizados de forma tabular. No exemplo seguinte procuramos criar um DataFrame a partir de um ficheiro csv. O ficheiro `retailCompany.csv` reúne informação das compras realizadas por um conjunto de clientes numa determinada empresa durante o período de um mês (mais de 500k linhas). Para lá do montante despendido, o ficheiro contém, entre outras, informação sobre a idade, género e o estado civil.

In [ ]:
filename = "data/retailCompany.csv"
#filename = '/content/drive/My Drive/Colab Notebooks/data/BigData/retailCompany.csv' #Google Colab

In [ ]:
df = spark.read.csv(filename, header=True, inferSchema=True)
df.show()

#### JSON

Uma das formas de criar um spark DataFrame é através da leitura de um ficheiro json. Para exemplificar o processo vamos recorrer ao ficheiro `estudantes.json`, que reúne informações de 10k estudantes.

In [ ]:
filename = "data/estudantes.json"
#filename = '/content/drive/My Drive/Colab Notebooks/data/BigData/estudantes.json' #Google Colab

In [ ]:
df = spark.read.json(filename)
df.show()

Enquanto o JSON que carregamos tinha uma estrutura linear, a grande maioria destes ficheiros segue uma estrutura encadeada. Este é o caso do JSON seguinte, um JSON de Tweets. Clique [aqui](https://gist.github.com/hrp/900964) para ter acesso à estrutura JSON de um tweet. Observe que na linha 79 dessa página web vai encontrar por exemplo a referência ao "user.location".

In [ ]:
filename = "data/15m-sample.json"
#filename = '/content/drive/My Drive/Colab Notebooks/data/BigData/15m-sample.json' #Google Colab

In [ ]:
df = spark.read.json(filename)
df.printSchema()

Nesse sentido, o acesso aos elementos encadeados é feito com recurso a ".". Veja-se o exemplo seguinte para o elemento "user".

In [ ]:
df.select("created_at","text","user.name","user.location").show()

#### TextFile

In [ ]:
filename = "data/quixote.txt"
#filename = '/content/drive/My Drive/Colab Notebooks/data/BigData/quixote.txt' #Google Colab

In [ ]:
df = spark.read.text(filename)
df.show()

This will create a DataFrame with a single column named value, which contains the contents of each line in the text file. If you want to split the contents of each line into multiple columns, you can use the split() function to specify the delimiter.

- `select`: Use this method when you need to apply column expressions and PySpark functions programmatically.
- `selectExpr`: Use this method when you prefer to write SQL-like expressions for column transformations, which can sometimes simplify the syntax for complex operations.

In [ ]:
from pyspark.sql import functions as F

df = df.select(F.split(df.value, ',').alias('columns'))

df = df.selectExpr("columns[0] as column1", "columns[1] as column2", "columns[2] as column3")

df.show()

### From RDDs

Também é possível criar DataFrames a partir de RDDs. No exemplo seguinte começamos por criar um RDD a partir de uma lista de dados. Uma vez criado o RDD podemos criar o DataFrame. Note que, ao contrário de JSON e CSV, onde a operação de leitura cria automaticamente um DataFrame, no caso dos RDDs, a criação de um DataFrame obriga a uma instrução explícitamente definida para tal (`createDataFrame`).

In [ ]:
sc = spark.sparkContext
rdd = sc.parallelize(["Javier 35", "Susana 19", "Mateo 25"])
people = rdd.map(lambda x: x.split(' '))

df = spark.createDataFrame(people, ["name", "age"])
df.show()

### API

In [ ]:
import requests

url_api = "https://api.coindesk.com/v1/bpi/currentprice.json"
r = requests.get(url_api)
content = r.json()
content

In [ ]:
payload_rdd = spark.sparkContext.parallelize([content])

# Read from JSON
df = spark.read.json(payload_rdd)
df.printSchema()

In [ ]:
df.show()

In [ ]:
df.select("bpi").printSchema()

In [ ]:
# Expand further elements to read USD data
df.select("bpi.*").select("USD.*").show(truncate=False)

### Pandas

In [ ]:
import pandas as pd
pandas_df = pd.DataFrame({"name": ["John", "Mary", "Mike"], "age": [25, 30, 35]})

df = spark.createDataFrame(pandas_df)
df.show()

You can convert it again to pandas format:

In [ ]:
df = df.toPandas()
df

### Schema

The below code creates a list of tuples, where each tuple contains a name and an age. Then it creates an RDD from the list of tuples and specifies the column names as “name” and “age”. Finally, it converts the RDD to a DataFrame using the createDataFrame() method

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import pandas as pd

data = [("John", 25), ("Mary", 30), ("Mike", 35)]

schema = StructType([
  StructField("name", StringType()),
  StructField("age", IntegerType())
])

df = spark.createDataFrame(data, schema)

df.show()

## USStockPrices

Tomemos agora como base o ficheiro `stocks_price_final.csv`.

*** A execução do código seguinte, pressupõe que as intruções do ponto 1 e o setup do ponto 2 foram realizados. ***

In [ ]:
filename = "data/USStockPrices/stocks_price_final.csv"
#filename = '/content/drive/My Drive/Colab Notebooks/data/BigData/USStockPrices/stocks_price_final.csv' #Google Colab

In [ ]:
# Before changing schema
df = spark.read.csv(filename, sep = ',', header = True)

### Inspect Methods

#### PrintSchema

Com o código seguinte é possível imprimir o esquema:

In [ ]:
df.printSchema()

#### dtypes

Tipos das variáveis:

In [ ]:
df.dtypes

#### columns

 It returns a list that contains the column names of the data.

In [ ]:
df.columns

#### Count

Observe que o DataFrame tem 10.000 registos.

In [ ]:
df.count()

#### stats: describe

In [ ]:
df.describe('high').show()

#### Take

Obter dados do primeiro registo.

In [ ]:
df.take(1)

#### Show

Mostrar os primeiros registos da tabela.

In [ ]:
df.show()

Pode mostrar mais do que apenas 20 linhas de resultados.

In [ ]:
df.show(20)

#### First

O método `first` permite devolver informações acerca do primeiro registo

In [ ]:
df.first()

O exemplo seguinte determina o setor do primeiro registo:

In [ ]:
df.first()['sector']

#### Distinct

Pode usar a transformação Distinct para entender quantas `symbol` distintos há no DataFrame.

In [ ]:
df.select('symbol').distinct().count()

### Operation Methods

#### Columns Manipulation

##### Add Column

In the following we show the result of adding a new column named `year`, based on the values found in the `date` column.

In [ ]:
from pyspark.sql.functions import year

df.withColumn('year', year(df.date)).show()

Note, however, that the result is not embedded into the dataframe.

In [ ]:
df.show()

To do so we should execute the following code instead:

In [ ]:
from pyspark.sql.functions import year

df = df.withColumn('year', year(df.date))
df.show()

In the following we show how the column `Excellent` could be added with boolean values (true or false) that depend on the following condition: `df["volume"] > 100000`.

In [ ]:
df.select("high", "low", "volume").withColumn('Excellent', df["volume"] > 100000).show()

##### Update Column

Use `withColumnRenamed` which takes two parameters existing column name and new column name to rename the existing column. See the below example:

In [ ]:
df = df.withColumnRenamed('year', 'Year')

df.show()

##### Delete Column

Use the `drop` method to delete a column.

In [ ]:
df = df.drop('Year')

df.show()

#### Querying Data

##### Select

It is used to select single or multiple columns using the names of the columns. Here is a simple example:

In [ ]:
df.select("close").show()

Mostrar o resultado de um conjunto de colunas.

In [ ]:
df.select('open', 'high', 'low').show()

O código seguinte permite selecionar um conjunto de colunas e recorrer ao `alias` para alterar os seus nomes:

In [ ]:
df.select(df['open'].alias('open_value'), df['high'], df['low']).show()

##### Filter

Mostrar um conjunto específico (filtrado) de resultados.

In [ ]:
df.filter((df['date'] >= '2020-01-01') & (df['date'] <= '2020-01-31')).show(5)

Um outro exemplo.

In [ ]:
df.select('open', 'high', 'low').filter(df["open"] > 60).show()

Filtrado apenas aos registos que não são nulos: `isNotNull`

In [ ]:
df.select('open', 'high', 'low').filter(df.symbol.isNotNull()).show()

##### GroupBy

The name itself explains that it groups the data by the given column name and it can perform different operations such as sum, mean, min, max, e.t.c.

The below example explains how to get the average opening, closing, and adjusted stock price concerning industries.

In [ ]:
df.select(['industry', 'open', 'close', 'adjusted']).groupBy('industry').mean().show()

#### OrderBy

O código seguinte exemplifica a função de ordenação.

In [ ]:
from pyspark.sql.functions import desc
df.groupby('symbol').count().orderBy(desc('count')).show(10)

#### Functions

O Spark oferece-nos um conjunto de funções de agregação que podem ser aplicadas aos dados:
- mean: média
- count: número total de registos
- first: primeiro registo
- last: primeiro registo
- max: valor máximo
- min: valor mínimo
- sum: soma dos valores

In [ ]:
from pyspark.sql.functions import min, max, mean, sum
df.agg(min("high"),max("high"),mean("high"),sum("high")).show()

In [ ]:
from pyspark.sql.functions import asc, min, mean
df.groupBy('symbol').agg(min('high'), mean('low')).orderBy(asc('avg(low)')).show(10)

Outras funções como o `length` permitem determinar o tamanho de um texto.

In [ ]:
from pyspark.sql.functions import length
df.select('industry', length('industry').alias('length')).show(20)

A função `to_timestamp` permite converter uma data (em formato string) para um formato de data.

In [ ]:
from pyspark.sql.functions import to_timestamp
df.select(to_timestamp('date', 'yyyy-MM-dd')).show(10)

Posteriormente podemos criar uma nova coluna denominada `timestamp`

In [ ]:
from pyspark.sql.functions import to_timestamp
df = df.withColumn('timestamp', to_timestamp('date', 'yyyy-MM-dd'))
df.show(5)

E a partir dessa coluna determinar qual a data mais antiga:

In [ ]:
from pyspark.sql.functions import min
df.select('timestamp').agg(min('timestamp')).show()

### Save Data to File

In [ ]:
# CSV
df.write.csv('data/csv')

In [ ]:
# JSON
df.write.save('data/json', format='json')

Writing selected data to different file formats

In [ ]:
# CSV
df.select(['date', 'open', 'close', 'adjusted'])\
            .write.csv('data/csv')

In [ ]:
# JSON
df.select(['date', 'open', 'close', 'adjusted'])\
    .write.save('data/json', format='json')

### Spark SQL

Ao contrário dos RDDs, em DataFrames é possível correr SQL queries. Para usar queries teremos no entanto que registar o DataFrame como uma view.

In [ ]:
df.createOrReplaceTempView('table')

Posteriormente podemos executar código SQL.

In [ ]:
spark.sql("select * from table").show(5)

In [ ]:
spark.sql('select symbol, high from table where high > 200 and high < 300 order by high desc').show()

In [ ]:
spark.sql('select mean(high) from table').show()

## Twitter (Quiz)

Exercício baseado no livro [Large-Scale Data Analytics with Python and Spark](https://www.amazon.com/Large-Scale-Data-Analytics-Python-Spark/dp/100931825X) by Isaac Triguero and Mikel Galar.

Neste exercício vamos analisar parte de um dataset que contém todos os tweets relacionados à campanha presidencial dos EUA de 2012, onde Mitt Romney (Republicano) e Barack Obama (Democrata) se enfrentaram. Para determinar os tweets relacionados às eleições, uma série de termos de pesquisa foi escolhida. Esta eleição foi relevante no campo das redes sociais e análise de Big Data porque parte do sucesso de Barack Obama em vencer a eleição foi atribuída ao uso dessas tecnologias.

 Este grande conjunto de dados foi publicado no [Data Hub](https://datahub.io), não se encontrando mais disponível no seu link original [(quebrado)](https://datahub.io/dataset/twitter-2012-presidential-election). No entanto, graças ao projeto [Internet Archive](https://archive.org/), ainda podemos obtê-lo através deste [link](https://web.archive.org/web/20150831144839/http://datahub.io:80/dataset/twitter-2012-presidential-election). Note que o conjunto de dados é enorme, com mais de 170 milhões de tweets. Neste lab concentramo-nos nos primeiros 1 milhão de tweets, o ficheiro `cache-0-json.gz` (cerca de 400MB comprimidos e 3GB de dados descompactados, ver ponto 1 deste notebook).

*** A execução do código seguinte, pressupõe que as intruções do ponto 1 e o setup do ponto 2 foram realizados. ***

### Load Dataset

Comece por carregar os dados `cache-0-json.gz` em memória (em formato comprimido). Proceda ao `cache` dos dados para não estar constantemente a ler os dados a partir do disco.

In [ ]:
filename = "data/twitter/cache-0-json.gz"
#filename = '/content/drive/My Drive/Colab Notebooks/data/BigData/twitter/cache-0-json.gz' #Google Colab

Observe que a execução do código demora apenas 5 minutos (sensivelmente).

In [ ]:
df = spark.read.json(filename).cache()
df.show()

### Determine the total number of tweets

In [ ]:
#Introduza o seu código aqui

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
df.count()
-->

Resultado a obter: `1000000`

### Print the Schema

In [ ]:
#Introduza o seu código aqui

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
df.printSchema()
-->

### List the Columns of the Dataset

In [ ]:
#Introduza o seu código aqui

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
df.columns
-->

### Create New Dataframe

Crie um novo dataframe contendo apenas as seguintes informações:
- id - unique Tweet id. Rename it as tweet_id.
- user.name - user display name shown in the Tweet. Rename it as displayed_username.
- user.screen_name - username identifier (the unique id that corresponds to the @ in Twitter). Rename it as username_id.
- user.followers_count - number of followers of the user.
- text - text of the Tweet.
- retweet_count - Number of retweets of the Tweet.
- place.country - Country where the Tweet was published.
- entities.user_mentions - Mentions to other users in the Tweet (using @user).
- entities.hashtags - Hashtags present in the Tweet (using #hashtag).
- created_at - When the Tweet was posted.

In [ ]:
#Introduza o seu código aqui

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
df = df.select(df['id'].alias('tweet_id'), df['user.name'].alias('displayed_username'), df['user.screen_name'].alias('username_id'), 'user.followers_count', 'text', 
                     'retweet_count', 'place.country','entities.user_mentions', 'entities.hashtags', 'created_at')
df.show()
-->

Imprima novamente o schema.

In [ ]:
df.printSchema()

### Total Number of Users

Como sabe este dataset é composto por 1M de tweets. Determine o número total de utilizadores responsáveis por gerar esses tweets.

In [ ]:
#Introduza o seu código aqui

Resultado a obter: `580606`

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
df.select('username_id').distinct().count()
-->

### Top-10 users who post the most

Determine quais os top-10 utilizadores que mais postaram no twitter.

In [ ]:
#Introduza o seu código aqui

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
from pyspark.sql.functions import desc
df.groupby('username_id').count().orderBy(desc('count')).show(10)
-->

Resultado a obter:

In [ ]:
[('.', 229), ('The Action Group', 211), ('Chris', 131), ('David', 120), ('Alex', 118), ('†', 102),
                                  ('Michael', 99), ('∞', 94), ('Matt', 91), ('Sarah', 89)]

### Users with the largest Tweets

Determine o comprimento médio dos Tweets por utilizador, ordenado do mais longo para o mais curto. Considere apenas as contas do Twitter que tenham postado mais de 100 tweets.

Steps to follow:
1. Use a `select()` to get the length of the Tweet along with each username (`username_id`).
2. Group by username and obtain (by applying aggregation function) the average length of the text and the count of usernames
3. Filter by count of usernames (> 100).
5. Sort by average length and count of usernames.

In [ ]:
#Introduza o seu código aqui

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
from pyspark.sql.functions import length, mean, count, desc
users_tweet_len_df = df.select('username_id', length('text').alias('len')) \
            .groupBy('username_id').agg(mean('len'), count('username_id')) \
            .filter('count(username_id) > 100') \
            .sort(desc('avg(len)'), desc('count(username_id)'))
            
users_tweet_len_df.show(5)
-->

Resultado a obter:

In [ ]:
[('TheCypressGang', 143.7364, 129), ('tobreakthenews', 139.5352, 256), ('incognito912', 137.5345, 275),
         ('WaterWynd', 137.3333, 192), ('onevoice2', 136.5149, 101), ('USA_Internship', 136.2981, 104),
         ('marineagency', 136.2941, 102), ('severewxman', 136.0117, 256), ('chaseboyerSVN', 136.0, 229),
         ('FloridaWXalerts', 136.0, 159)]

### Name of User with the largest Tweet

Utilize a informação anterior para determinar o nome do utilizador com o comprimento médio mais longo.

In [ ]:
#Introduza o seu código aqui

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
users_tweet_len_df.first()['username_id']
-->

Resultado a obter: `TheCypressGang`

### Tweets' origin

Ao trabalhar com um conjunto de dados das eleições presidenciais dos EUA, poder-se-ia presumir que a maioria dos Tweets viria dos EUA. Vamos verificar se isso é verdade, obtendo o número de Tweets postados para cada país (apenas possível para aqueles Tweets que têm o país definido).

In [ ]:
#Introduza o seu código aqui

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
df.select('country') \
                    .filter(df.country.isNotNull()) \
                    .groupBy('country').count() \
                    .sort('count', 'country', ascending=[False, True]).show()
-->

Resultado a obter:

In [ ]:
[(u'United States', 5240), (u'Brasil', 1212), (u'United Kingdom', 386), (u'Germany', 223), (u'Indonesia', 188),
             (u'Spain', 188), (u'Mexico', 174), (u'Italy', 150), (u'Canada', 121), (u'France', 94)]

### About time

Vamos agora obter algumas informações sobre quando os Tweets foram postados, mais concretamente, quantos dias cobre este sub-set? Para isso vamos determinar a data do primeiro e do último Tweet no DataFrame.

**Nota:** De acordo com o observado anteriormente a coluna `created_at` é do tipo String no esquema, em vez de um tipo TimeStamp ou DateTime. Isso significa que não podemos trabalhar diretamente com datas. Nesse sentido, precisamos primeiro converte-la para o formato correto.

In [ ]:
df.select('created_at').show(10, truncate=False)

Do resultado é possível observar que o timestamp de data e hora vem no froamto: dia da semana, mês, dia do mês, hora, fuso horário e ano. O problema é que, o formato correspondente ao dia da semana ('Dom', por exemplo) é esperado apenas para ser usado na formatação de saída de dados de hora, mas não para ser analisado/parsed. Podemos tentar converter isso usando o padrão `"EEE MMM dd HH:mm:ss Z yyyy"`, mas tal código retornará um erro:

In [ ]:
from pyspark.sql.functions import to_timestamp
df.select(to_timestamp('created_at', 'EEE MMM dd HH:mm:ss Z yyyy')).show(10)

Tal tem a ver com uma mudança no Spark 3.0 em relação as strings que podem ser analisadas. Como dito antes,
> Símbolos de 'E', 'F', 'q' e 'Q' só podem ser usados para formatação de data e hora, por exemplo, date_format. Não podem ser usados para análise de data e hora, por exemplo, `to_timestamp` .

In [ ]:
spark.conf.set('spark.sql.legacy.timeParserPolicy', 'LEGACY')

Alteramos também outro parâmetro na configuração referente ao fuso horário (para UTC) por forma a garantir que os resultados neste notebook não mudem dependendo de onde o mesmo é executando.

In [ ]:
spark.conf.set("spark.sql.session.timeZone", "UTC")

Agora sim, estmaos em condições de proceder à conversão:

In [ ]:
from pyspark.sql.functions import to_timestamp
df.select(to_timestamp('created_at', 'EEE MMM dd HH:mm:ss Z yyyy')).show(10)

Vamos agora adicionar estes dados ao dataframe numa coluna denominada `timestamp`.

In [ ]:
df = df.withColumn('timestamp', to_timestamp('created_at', 'EEE MMM dd HH:mm:ss Z yyyy'))
df.show(3)
df.printSchema()

Podemos agora finalmente obter a data do primeiro e do último tweet do sub-set.

In [ ]:
#Insira aqui o seu código

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
from pyspark.sql.functions import min, max
df.select(df.timestamp)\
               .agg(min('timestamp').alias('first'), max('timestamp').alias('last'))\
               .show(truncate=False)
-->

Vamos agora calcular o número de tweets postados por dia.

In [ ]:
from pyspark.sql.functions import to_date
df.select(to_date('timestamp').alias('day'))\
                 .groupby('day').count().sort('day')\
                 .show()

Não sabemos porquê, mas parece que não há Tweets do dia 12 de setembro. Pode haver menos Tweets no dia 9 porque a captura pode ter começado durante o dia (de fato, o primeiro Tweet é das 21h). Da mesma forma, os Tweets do dia 13 provavelmente estariam presentes no próximo bloco de dados que não baixámos.

Podemos aprender algo sobre as horas em que a discussão estava mais ativa? Ou seja, vamos pegar nos dois dias em que parece haver dados completos (dia 10 e 11) e obter o número de Tweets publicados em cada hora desses dias.

In [ ]:
from pyspark.sql.functions import hour
hour_count_df = df.filter((df['timestamp'] >= '2012-09-10') & (df['timestamp'] < '2012-09-12'))\
    .select(hour('timestamp').alias('hour'))\
    .groupby('hour').count().sort('hour')

hour_count_df.show()

Vamos agora plotar esta informação. Repare que `hour_count_df.collect()` é uma lista de tuplos no formato [(hora, número de tweets),...]

In [ ]:
hour_count_df.collect()

O código `zip(*hour_count_df.collect())` permite-nos fazer o zip das horas e o zip do número de tweets. Ao adicionar o "*" antes de `hour_count_df.collect()` estamos a transformar as tuplas em listas separadas de elementos.

In [ ]:
(x_values, y_values) = zip(*hour_count_df.collect())
x_values

O código para plotar os dados encontra-se abaixo.

In [ ]:
%matplotlib inline 
import matplotlib.pyplot as plt

(x_values, y_values) = zip(*hour_count_df.collect())
plt.bar(x_values, y_values)
plt.title('Twitting activity by hour of day')
plt.xlabel('Hour of day')
plt.ylabel('Number of Tweets')
plt.show()

### Most popular mentioned users

Neste exercício pretendemos determinar os utilizadores cujo user foi mais mencionado. Utilizadores mencionados aparecem na coluna `user_mentions`, a qual é um array de dicionários. Para desagrupar o array, recorre-se à função `explode`.

In [ ]:
df.select('user_mentions').show()

In [ ]:
from pyspark.sql.functions import explode
df.select(explode('user_mentions')).show()

Após aplicá-la, fazemos outra seleção para manter apenas o nome do utilizador (lembre-se de que `screen_name` é o nome de utilizador exclusivo).

In [ ]:
#Insira o seu código aqui

Clique duas vezes <b>aqui</b> para aceder à solução completa
<!--
df.select(explode('user_mentions').alias('mentioned')) \
                    .select('mentioned.screen_name') \
                    .groupBy('screen_name').count() \
                    .sort('count', ascending=False) \
                    .show(10)
-->

Resultado a obter:

In [ ]:
[('BarackObama', 13751), ('NICKIMINAJ', 9726), ('YouTube', 5127),
                                 ('MittRomney', 3955), ('billmaher', 3906), ('ShareThis', 3876),
                                 ('2ChainzLyrics', 3862), ('KattWillliams', 3059), ('ppppolls', 2776),
                                 ('HumorOrTruth', 2097)]

### Most popular hashtags

Podemos fazer o mesmo com as hashtags. Começamos por inspecionar o esquema do DataFrame para entender como pode obter o texto das hashtags e contá-las. Para evitar problemas com maiúsculas e minúsculas, coloque todas em minúsculas.

In [ ]:
df.printSchema()

In [ ]:
from pyspark.sql.functions import lower

df.select(explode('hashtags').alias('tags')) \
                .select(lower('tags.text').alias('tag')) \
                .groupBy('tag').count() \
                .sort('count', ascending=False).show()

### Presence of the candidates in the Tweets

Nos exercícios anteriores, focamo-nos apenas nas hashtags e menções do utilizador, mas não prestamos atenção ao texto dos Tweets. No exercício a seguir, vamos tentar descobrir quantos Tweets cada partido/candidato esteve presente. 

Para simplificar a tarefa, vamos assumir que as palavras relacionadas a cada candidato/partido são:
- Obama/Democratas: 'obama' e 'democrata';
- Romney/Republicanos: 'romney', 'republicano', 'teaparty' e 'tcot'.

O nosso primeiro objetivo é criar um DataFrame no qual tenhamos uma coluna que indique se menciona Obama/democratas e outra se menciona Romney/republicanos.

Para realizar essa tarefa, seguimos as etapas abaixo:
1. Vamos trabalhar apenas com o texto do Tweet. Portanto, comece por obter um novo DataFrame apenas com essas informações. Nomeie-o como `tweet_text_df`. Coloque todo o texto em minúsculas.
2. Adicione uma nova coluna ao dataframe chamada `democrata`, que indicará se alguma das palavras correspondentes a democratas ('obama', 'democrata') foi mencionada nesse tweet. Se alguma delas tiver sido mencionada, a coluna terá o valor 'Democrata', caso contrário, o valor será '-'.
3. Verifique o número de Tweets nos quais os democratas aparecem agrupando e contando na nova coluna.

In [ ]:
from pyspark.sql.functions import lower, when

df = df.withColumn('democrat', when(lower('text').contains('obama'), 'Democrat')\
                                            .when(lower('text').contains('democrat'), 'Democrat')\
                                            .otherwise('-'))

df.groupby('democrat').count().show()

4. Repita o passo anterior para adicionar outra coluna para as menções republicanas ('romney', 'republicano', 'teaparty' e 'tcot'). A nova coluna será chamada `Republicano`.
5. Verifique o número de Tweets nos quais os republicanos aparecem agrupando e contando.

In [ ]:
from pyspark.sql.functions import lower, when

df = df.withColumn('republican', when(lower('text').contains('romney'), 'Republican')\
                                            .when(lower('text').contains('republican'), 'Republican')\
                                            .when(lower('text').contains('teaparty'), 'Republican')\
                                            .when(lower('text').contains('tcot'), 'Republican')\
                                            .otherwise('-'))

df.groupby('republican').count().show()

Obtenha a percentagem de Tweets nos quais apenas democratas, apenas republicanos, tanto democratas quanto republicanos e nenhum deles são mencionados. Arredonde as percentagens para 4 casas decimais e armazene o resultado em `party_percentage_df` (as porcentagens devem ser ordenadas por ordem decrescente).

In [ ]:
from pyspark.sql.functions import round, col

party_percentage_df = df.groupby('democrat', 'republican').count()\
                                   .select('democrat', 'republican', round((col('count') / ntweets * 100), 4).alias('percentage'))\
                                   .sort('percentage', ascending=False)

### END SOLUTION

party_percentage_df.show(10)